{% extends 'base.html.twig' %}

{% block title %}Pokemon List{% endblock %}

{% block body %}

    
    {% if searchName|default('') or selectedTypes|default([])|length > 0 %}
        <p>
            <strong>Search Results:</strong>

            {% if searchName %}
                Name: "{{ searchName }}"
            {% endif %}

            {% if selectedTypes|default([])|length > 0 %}
                {% if searchName %} | {% endif %}
                Types: {{ selectedTypes|join(', ')|title }}
            {% endif %}
        </p>
    {% endif %}

    {% for message in app.flashes('warning') %}
        <p class="notice">{{ message }}</p>
    {% endfor %}


    <p>( {{ count }} Pokémon found )</p>
    <hr>

    {% for poke in pokemon %}
        <article>
            <aside>
                <figure>
                    <img src="{{ poke.image }}" alt="{{ poke.name }}">
                </figure>
            </aside>

            <header>
                <h3>{{ poke.name|title }}</h3>
            </header>
            
            <hr>

            <footer style="padding-bottom: 10px;">
                <p>
                    <a href="{{ path('pokemon_show', {name: poke.name}) }}">View Details</a>
                </p>
            </footer>
        </article>

    {% endfor %}

{% endblock %}
