{% extends 'base.html.twig' %}

{% block title %}Pokemon List{% endblock %}

{% block body %}

    
    {% if searchName|default('') or selectedTypes|default([])|length > 0 %}
        <p>
            <strong>Search Results:</strong>

            {% if searchName %}
                Name: "{{ searchName }}"
            {% endif %}

            {% if selectedTypes|default([])|length > 0 %}
                {% if searchName %} | {% endif %}
                Types: {{ selectedTypes|join(', ')|title }}
            {% endif %}
        </p>
    {% endif %}

    {% for message in app.flashes('warning') %}
        <p class="notice">{{ message }}</p>
    {% endfor %}


    <p>( {{ count }} Pokémon found )</p>
    <hr>

    {% for poke in pokemon %}
        <a href="{{ path('pokemon_show', {name: poke.name}) }}" style="text-decoration: none; color: inherit;">
            <article style="padding-bottom: 5.5rem;">
                <aside>
                    <figure>
                        <img src="{{ poke.image }}" alt="{{ poke.name }}">
                    </figure>
                </aside>

                <header>
                    <h3>{{ poke.name|title }}</h3>
                </header>
                
            </article>
        </a>

    {% endfor %}

{% endblock %}
