<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <a href="/" class="{{ app.current_route == 'pokemon_index' ? 'current' : '' }}">Pokemon</a>
                <a href="/" class="{{ app.current_route == 'favorites' ? 'current' : '' }}">Favourites</a>
            </nav>

            <h1>Pokemon Search App</h1>
        </header>

        <main>
            <form action="{{ path('pokemon_search') }}" method="GET">
                <div style="display: flex; gap: 0.5rem; width: 100%;">
                    <input required type="text" name="name" placeholder="Search Pokemon..." value="{{ searchName|default('') }}" style="flex: 1;">
                    <button type="submit">Search</button>
                </div>

                <details>
                    <summary>Filter by Type</summary>
                    <div style="display: flex; flex-wrap: wrap; gap: 1rem;">
                        {% for type in types %}
                            <label>
                                <input
                                    type="checkbox"
                                    name="types[]"
                                    value="{{ type.name }}"
                                    {% if type.name in selectedTypes|default([]) %} checked {% endif %}
                                >
                                {{ type.name|title }}
                            </label>
                        {% endfor %}
                    </div>                    
                </details>
            </form>

            {% block body %}{% endblock %}
        </main>
    </body>
</html>
